<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".md" mimeType="text/x-markdown" />
        </staticContent>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <add value="mdwiki.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
